@font-face {
  font-family: 'festonum';
  src: url('fonts/festonum.eot?sgiomb');
  src: url('fonts/festonum.eot?sgiomb#iefix') format('embedded-opentype'),
    url('fonts/festonum.ttf?sgiomb') format('truetype'),
    url('fonts/festonum.woff?sgiomb') format('woff'),
    url('fonts/festonum.svg?sgiomb#festonum') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
